<div id="home-header" style="margin-top:20px">
	<h1>Let's change the world</h1>
		<h1>one picture at a time.</h1>
	
	
	<div style="margin-top:3%;margin-bottom:3%;">
		<center>
		<%= link_to (image_tag "jobsact-default.png", :class => "thumbnail", :size => "320x320"), badges_path  %>
		</center>
	</div>
	
<center><%= link_to "Find a Badge", badges_path, :class => "btn btn-primary", :style => "font-size:24px; padding:1.5%;" %></center>
<br />
<br />

<div class="row" style="text-align:center">
        <div class="span4" style="border-right:1px solid #E5E5E5; margin-right:-10px;">
          <h2>Step 1</h2>
           <h3>Pick a badge.</p>
        </div>
        <div class="span4" style="border-right:1px solid #E5E5E5; margin-right:5px;">
          <h2>Step 2</h2>
           <h3>Single click image update.</p>
       </div>
        <div class="span4">
          <h2>Step 3</h2>
          <h3>Change the world.</h2>
          
        </div>
      </div>