<div id="home-header" style="margin-top:20px">
	<h1>Let's change the world</h1>
		<h1>one picture at a time<a class="btn btn-primary" style="font-size:18px; margin-left:1%; margin-bottom:1%; padding:1%">Start Here &raquo;</a></h1>
	
	<center>
	<div style="margin-top:5%;">
	      <ul class="thumbnails"style="margin-left:7%;">
	        <li>
	          <a href="#" class="thumbnail" >
	            <img src="http://placehold.it/160x160" alt="">
							<h3>10,394 followers</h3>
	          </a>
	        </li>
					<li>
	          <a href="#" class="thumbnail">
	            <img src="http://placehold.it/240x240" alt="">
							<h3>300,541 followers</h3>
	          </a>
	        </li>
					<li>
	          <a href="#" class="thumbnail">
	            <img src="http://placehold.it/320x320" alt="">
							<h3>33,542,002 followers</h3>
	          </a>
	        </li>
	      </ul>
	</div>
	</center>
</div>
