<table class="table table-condensed">
 <thead>
    <tr>
      <th>Startups</th>
      <th>Causes</th>
			<th>National</th>
      <th>Sports</th>
    </tr>
  </thead>
</table>

<table class="table table-condensed">
	<% @count = @badges.count%>
	<% @badge_rows = @badges.each_slice(4).to_a %>

	<% @badge_rows.each do |badge_row| %>
	<tr>
		<%badge_row.each do |badge| %>
		<td>
			<div class="badge">
				<%= image_tag @display_avatar, :class => "default-profile-index", :size => "128x128" %>
				<%= link_to(image_tag(badge.image_url,
															:class => "badge-index", 
															:size => "128x128" ), 
															badge_path(badge.id)
															)%>				
				
			</div>
			<div>
			<p><b>Title:</b> <%= badge.title %><br />
			<b>Follower Reach:</b> <%= badge.badgehistories.total_followers(badge.id) %><br />
			>></p>
			</div>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>

</div>
</div>

