<hr>
<footer class="footer">
	<p class="pull-right"><a href="#">:)</a></p>
	<!-- <p>Designed and built in SF by
			<a href="http://twitter.com/davjphillips" target="_blank">David</a>,
			<a href="http://twitter.com/alzonedout" target="_blank">Andrew</a>,
			<a href="http://twitter.com/jon_castillo" target="_blank">Jon</a>, and
			<a href="http://twitter.com/mehulkar" target="_blank">Mehul</a>.
		</p> -->
</footer>