<hr>
<footer class="footer">
	<p class="pull-right"><a href="#">:)</a></p>
	<!-- <p>Designed and built in SF by
			<a href="http://twitter.com/davjphillips" target="_blank">@davjphillips</a>,
			<a href="http://twitter.com/sharksforcheap" target="_blank">@ALzonedOut</a>,
			<a href="http://twitter.com/jon_castillo" target="_blank">@jon_castillo</a>, and
			<a href="http://twitter.com/mayatron" target="_blank">@mehulkar</a>.
		</p> -->
</footer>